{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["airbnb/base"],
  "rules": {
//    "linebreak-style": ["error", "windows"],
    "no-use-before-define": ["error", { "functions": false, "classes": true }]
  }
}